<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Registro de Platos</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="register()">
            <div class="row">
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="col-form-label">Nombre</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="name"
                />
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'name')) &&
                    hasControlError(getControl(form, 'name'), 'required')
                  "
                  [type]="'required'"
                  [field]="'Número de Factura'"
                ></app-error-alert>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="col-form-label">Moneda de Pago</label>
                <select class="form-select" formControlName="currency">
                  <option>Seleccionar Moneda</option>
                  <option
                    *ngFor="let currency of currencies"
                    [value]="currency"
                  >
                    {{ currency }}
                  </option>
                </select>
                <app-error-alert
                  [display]="isControlInvalid(getControl(form, 'currency'))"
                  [type]="'required'"
                  [field]="'Moneda de Pago'"
                >
                </app-error-alert>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="col-form-label">Monto Total</label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="total"
                />
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'total')) &&
                    hasControlError(getControl(form, 'total'), 'required')
                  "
                  [type]="'required'"
                  [field]="'Monto Total'"
                ></app-error-alert>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12">
                <app-product-picker
                  [(items)]="products"
                  [requiredTotal]="false"
                  (addProductEvent)="addProduct($event)"
                  (editProductEvent)="editProduct($event)"
                  (deleteProductEvent)="deleteProduct($event)"
                ></app-product-picker>
              </div>
            </div>
            <div class="row mt-3">
              <div class="form-group col-12 text-end">
                <div class="btn-group" role="group">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!form.valid && products.length <= 0"
                  >
                    <i class="far fa-save"></i> Guardar
                  </button>
                  <button class="btn btn-danger" type="reset" (click)="reset()">
                    <i class="far fa-trash-alt"></i> Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
