<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-10">
              <h1>Platos</h1>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 text-end">
              <button
                type="button"
                class="btn btn-primary"
                (click)="showModal(recipeSearchModal, 'add')"
              >
                <i class="fas fa-plus"></i> Añadir
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 table-responsive" *ngIf="items.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 6rem">N°</th>
                    <th scope="col">Recipeo</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.recipe.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>
                      {{ item.recipe.currency }}
                      {{ item.recipe.total * item.quantity }}
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-warning"
                          type="button"
                          (click)="
                            showModal(recipeSearchModal, 'edit', item);
                            $event.preventDefault()
                          "
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <button
                          class="btn btn-danger"
                          type="button"
                          (click)="
                            delete(item.recipe._id!); $event.preventDefault()
                          "
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12" *ngIf="items.length === 0">
              <h2>No hay registros disponibles.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Búsqueda de Platos -->
<ng-template #recipeSearchModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa-solid fa-filter"></i> Búsqueda de Platos
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-recipe-search
      [recipesPicked]="items"
      [edition]="edition"
      [selectedRecipe]="selectedRecipe"
      (addRecipe)="add($event)"
      (editRecipe)="edit($event)"
    ></app-recipe-search>
  </div>
</ng-template>
