<!-- ngModel -->
<div class="input-group" *ngIf="!isForm">
  <input
    class="form-control"
    placeholder="dd/mm/yyyy"
    name="ngModelPicker"
    #cNgModelPicker="ngModel"
    [ngModel]="value"
    (dateSelect)="dateSelect($event)"
    ngbDatepicker
    #ngModelPicker="ngbDatepicker"
  />
  <button
    class="btn btn-outline-secondary"
    (click)="ngModelPicker.toggle()"
    type="button"
  >
    <i class="fa-solid fa-calendar-days"></i>
  </button>
</div>
<!-- Reactive Form -->
<div class="input-group" *ngIf="isForm">
  <input
    class="form-control"
    placeholder="dd/mm/yyyy"
    name="reactiveFormPicker"
    [formControl]="$any(formControlUsed)"
    ngbDatepicker
    #reactiveFormPicker="ngbDatepicker"
  />
  <button
    class="btn btn-outline-secondary"
    (click)="reactiveFormPicker.toggle()"
    type="button"
  >
    <i class="fa-solid fa-calendar-days"></i>
  </button>
</div>
