<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-10">
              <h1>Usuarios</h1>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 text-end">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="showFilter(filterModal)"
              >
                <i class="fas fa-filter"></i> Filtrar
              </button>
              <button type="button" class="btn btn-warning" (click)="reload()">
                <i class="fas fa-redo"></i> Recargar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                routerLink="register"
              >
                <i class="fas fa-plus"></i> Nuevo
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-end">
              <app-pagination
                [pagination]="pagination"
                [(filter)]="filter"
                (pageSelected)="changePage($event)"
              ></app-pagination>
            </div>
            <div class="col-12 table-responsive" *ngIf="items.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 6rem">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.lastName }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.role?.name }}</td>
                    <td>
                      <app-status-badge
                        [status]="item.status"
                      ></app-status-badge>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-warning"
                          (click)="edit(item._id!)"
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <button
                          class="btn btn-danger"
                          (click)="delete(item._id!)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12" *ngIf="items.length === 0">
              <h2>No hay registros disponibles.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Filtrado -->
<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa-solid fa-filter"></i> Filtro
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <label class="col-form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="name"
            [(ngModel)]="filter.name.value"
          />
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <label class="col-form-label">Apellidos</label>
          <input
            type="text"
            class="form-control"
            name="lastName"
            [(ngModel)]="filter.lastName.value"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <label class="col-form-label">Email</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="filter.email.value"
          />
        </div>
        <div class="form-group col-sm-12 col-md-12 col-lg-6">
          <label class="col-form-label">Teléfono</label>
          <input
            type="text"
            class="form-control"
            name="phone"
            [(ngModel)]="filter.phone.value"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
          <label class="col-form-label">Rol</label>
          <select
            class="form-select"
            [(ngModel)]="filter.role.value"
            name="role"
          >
            <option>Seleccionar Rol</option>
            <option *ngFor="let role of roles" [value]="role._id">
              {{ role.nameES }}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
          <label class="col-form-label">Estado</label>
          <div class="form-control">
            <app-status-picker
              [(status)]="filter.status.value"
            ></app-status-picker>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('filter')"
    >
      <i class="fa-solid fa-filter"></i> Filtrar
    </button>
  </div>
</ng-template>
