<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>Gestión de Mesa</h4>
        </div>
        <div class="card-body" *ngIf="item">
          <div class="row">
            <div class="col-2">
              <label class="col-form-label">N° de Mesa</label>
              <input
                type="number"
                class="form-control"
                [ngModel]="item.number"
                readonly
              />
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4">
              <label class="col-form-label">Estado</label>
              <div
                class="btn-group w-100"
                role="group"
                ngbRadioGroup
                name="tableAvailability"
                [(ngModel)]="item.availability"
              >
                <label ngbButtonLabel class="btn-outline-success w-100">
                  <input ngbButton type="radio" class="btn-check" [value]="1" />
                  Libre
                </label>
                <label ngbButtonLabel class="btn-outline-danger w-100">
                  <input ngbButton type="radio" class="btn-check" [value]="3" />
                  Ocupado
                </label>
                <label ngbButtonLabel class="btn-outline-warning w-100">
                  <input ngbButton type="radio" class="btn-check" [value]="2" />
                  Reservado
                </label>
              </div>
            </div>
            <div
              class="col-sm-12 col-md-4 col-lg-3"
              *ngIf="item.availability === 2"
            >
              <label class="col-form-label">Hora de reserva</label>
              <div class="input-group mb-3">
                <select class="form-select" [(ngModel)]="reserveHour[0]">
                  <option>Seleccionar Hora</option>
                  <option *ngFor="let hour of hours" [value]="hour">
                    {{ hour }}
                  </option>
                </select>
                <span class="input-group-text">:</span>
                <select class="form-select" [(ngModel)]="reserveHour[1]">
                  <option>Seleccionar Minuto</option>
                  <option *ngFor="let minute of minutes" [value]="minute">
                    {{ minute }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
              <label class="col-form-label">Mesero</label>
              <select class="form-select" [(ngModel)]="item.waiter">
                <option>Seleccionar Mesero</option>
                <option *ngFor="let waiter of waiters" [value]="waiter._id">
                  {{ waiter.lastName }}, {{ waiter.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="row mt-5">
            <div class="col-12">
              <app-recipe-picker
                [(items)]="recipes"
                (addRecipeEvent)="addRecipe($event)"
                (editRecipeEvent)="editRecipe($event)"
                (deleteRecipeEvent)="deleteRecipe($event)"
              ></app-recipe-picker>
            </div>
          </div>
        </div>
        <!-- Botones de accion -->
        <div class="card-footer">
          <div class="row">
            <div class="col-12 text-end">
              <div class="btn-group">
                <button
                  class="btn btn-danger"
                  *ngIf="order && ![3, 4].includes(order.status!)"
                  (click)="changeStatus(5)"
                  [disabled]="disableButtons"
                >
                  <i class="fa-solid fa-times"></i> Cancelar
                </button>
                <button
                  class="btn btn-success"
                  *ngIf="!order && recipes.length == 0"
                  (click)="updateTable()"
                  [disabled]="disableButtons"
                >
                  <i class="fa-solid fa-floppy-disk"></i> Actualizar
                </button>
                <button
                  class="btn btn-success"
                  *ngIf="!order && recipes.length > 0"
                  (click)="save()"
                  [disabled]="disableButtons || recipes.length <= 0"
                >
                  <i class="fa-solid fa-floppy-disk"></i> Crear
                </button>
                <button
                  class="btn btn-success"
                  *ngIf="order"
                  (click)="save()"
                  [disabled]="disableButtons || recipes.length <= 0"
                >
                  <i class="fa-solid fa-floppy-disk"></i> Actualizar
                </button>
                <button
                  class="btn btn-warning"
                  *ngIf="order && [1, 2].includes(order.status!)"
                  [disabled]="disableButtons || recipes.length <= 0"
                  (click)="changeStatus(3)"
                >
                  <i class="fa-solid fa-check-to-slot"></i> Atender
                </button>
                <button
                  class="btn btn-primary"
                  *ngIf="order && order.status === 3"
                  [disabled]="disableButtons || recipes.length <= 0"
                  (click)="changeStatus(4, completeModal)"
                >
                  <i class="fa-solid fa-money-bill"></i> Completar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #completeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Completar Orden</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <p>El monto total a pagar es:</p>
      </div>
      <div class="col-12">
        <h3>{{ recipes[0].recipe.currency }} {{ order?.total }}</h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.close('rechazar')"
    >
      <i class="fa-solid fa-circle-xmark"></i> Rechazar
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('completar')"
    >
      <i class="fa-solid fa-money-bill"></i> Completar
    </button>
  </div>
</ng-template>
