<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-10">
              <h1>Productos</h1>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 text-end">
              <button type="button" class="btn btn-warning" (click)="list()">
                <i class="fas fa-redo"></i> Recargar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                routerLink="register"
              >
                <i class="fas fa-plus"></i> Nuevo
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-end" *ngIf="items.length > 0">
              <app-pagination
                [pagination]="pagination"
                (pageSelected)="changePage($event)"
              ></app-pagination>
            </div>
            <div class="col-12 table-responsive" *ngIf="items.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 6rem">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock Actual</th>
                    <th scope="col">Stock Mínimo</th>
                    <th scope="col">Unidad de Medida</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Última Modificación</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    [ngClass]="{
                      'table-danger':
                        item.stock < item.mininumStock && item.status
                    }"
                    *ngFor="let item of items; let i = index"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.mininumStock }}</td>
                    <td>{{ item.measurementUnit }}</td>
                    <td>{{ item.createdAt | date: "dd/MM/yyyy HH:mm" }}</td>
                    <td>{{ item.updatedAt | date: "dd/MM/yyyy HH:mm" }}</td>
                    <td>
                      <app-status-badge
                        [status]="item.status"
                      ></app-status-badge>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-warning"
                          (click)="edit(item._id!)"
                        >
                          <i class="fas fa-edit"></i>
                        </button>
                        <button
                          class="btn btn-danger"
                          (click)="delete(item._id!)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12" *ngIf="items.length === 0">
              <h2>No hay registros disponibles.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
