<!-- Paginacion -->
<div class="d-inline-flex flex-row p-2 bd-highlight">
  <!-- Filtro -->
  <div class="container-fluid align-middle">
    <span *ngFor="let item of filter | keyvalue">
      <button
        *ngIf="
          $any(item.value).value != undefined ||
          $any(item.value).valueDate != undefined
        "
        class="badge rounded-pill bg-primary fs-6 btn btn-outline-secondary"
        (click)="clearFilterItem(item)"
      >
        {{ $any(item.value).label }} :
        <span *ngIf="$any(item.value).value === true">Activo</span
        ><span *ngIf="$any(item.value).value === false">Inactivo</span
        ><span *ngIf="![true, false].includes($any(item.value).value)">{{
          $any(item.value).content
            ? $any(item.value).content
            : ($any(item.value).valueDate | instanceofdate)
            ? ($any(item.value).value | date: "dd/MM/yyyy")
            : $any(item.value).value
        }}</span>
        <i class="fa-solid fa-circle-xmark ms-1"></i></button
    ></span>
  </div>
  <nav aria-label="Pagination">
    <ul class="pagination">
      <li class="page-item" *ngIf="pagination.page > 1">
        <button class="page-link" aria-label="Previous" (click)="prevPage()">
          <span aria-hidden="true">&laquo;</span>
        </button>
      </li>
      <li class="page-item" *ngFor="let number of numbers; let i = index">
        <button class="page-link" (click)="selectPage(i + 1)">
          {{ number + 1 }}
        </button>
      </li>
      <li class="page-item" *ngIf="pagination.page < pagination.totalPages">
        <button class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
  <span style="margin-left: 10px; min-width: fit-content" class="align-middle"
    >{{ 1 + pagination.limit * (pagination.page - 1) }} -
    {{ pagination.limit * pagination.page }} de
    {{ pagination.totalItems }} registros</span
  >
</div>
