<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-12 text-end">
              <button type="button" class="btn btn-warning" (click)="reload()">
                <i class="fas fa-redo"></i> Recargar
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- Registro de objeto ProductPicked -->
          <div class="row" *ngIf="selectedProduct">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Añadir Producto</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                      <label class="col-form-label">Producto</label>
                      <input
                        class="form-control"
                        type="text"
                        disabled
                        [ngModel]="selectedProduct.product.name"
                      />
                    </div>
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                      <label class="col-form-label">Unidad de Medida</label>
                      <input
                        class="form-control"
                        type="text"
                        disabled
                        [ngModel]="selectedProduct.product.measurementUnit"
                      />
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-sm-12 col-md-6 col-lg-6">
                      <label class="col-form-label">Cantidad</label>
                      <input
                        class="form-control"
                        type="number"
                        [(ngModel)]="selectedProduct.quantity"
                      />
                    </div>
                    <div
                      class="form-group col-sm-12 col-md-6 col-lg-6"
                      *ngIf="requiredTotal"
                    >
                      <label class="col-form-label">Monto Total</label>
                      <input
                        class="form-control"
                        type="text"
                        [(ngModel)]="selectedProduct.total"
                      />
                    </div>
                  </div>
                  <div class="row mt-3">
                    <div class="form-group col-12 text-end">
                      <button
                        class="btn btn-primary"
                        (click)="save()"
                        [disabled]="
                          !(selectedProduct.quantity > 0) ||
                          (requiredTotal && !selectedProduct.total)
                        "
                      >
                        <i class="fa-solid fa-floppy-disk"></i> Guardar
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Filtro -->
          <div class="row" *ngIf="!edition">
            <div class="col-12">
              <div class="accordion" id="accordionFilter">
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFilter">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseFilter"
                      aria-expanded="true"
                      aria-controls="collapseFilter"
                    >
                      <i class="fa-solid fa-filter"></i> Filtro
                    </button>
                  </h2>
                  <div
                    id="collapseFilter"
                    class="accordion-collapse collapse"
                    aria-labelledby="headingFilter"
                    data-bs-parent="#accordionFilter"
                  >
                    <div class="accordion-body">
                      <form>
                        <div class="row">
                          <div class="form-group col-sm-12 col-md-12 col-lg-6">
                            <label class="col-form-label">Nombre</label>
                            <input
                              type="text"
                              class="form-control"
                              name="name"
                              [(ngModel)]="filter.name.value"
                            />
                          </div>
                          <div class="form-group col-sm-12 col-md-12 col-lg-6">
                            <label class="col-form-label">Stock actual</label>
                            <input
                              type="number"
                              class="form-control"
                              name="stock"
                              [(ngModel)]="filter.stock.value"
                            />
                          </div>
                        </div>
                        <div class="row">
                          <div class="form-group col-sm-12 col-md-12 col-lg-6">
                            <label class="col-form-label"
                              >Unidad de Medida</label
                            >
                            <select
                              class="form-select"
                              [(ngModel)]="filter.measurementUnit.value"
                              name="measurementUnit"
                            >
                              <option>Seleccionar Unidad</option>
                              <option
                                *ngFor="let unit of measurementUnits"
                                [value]="unit"
                              >
                                {{ unit }}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="row">
                          <div
                            class="form-group col-sm-12 col-md-12 col-lg-12 text-end"
                          >
                            <button
                              type="button"
                              class="btn btn-success"
                              (click)="list()"
                            >
                              <i class="fa-solid fa-filter"></i> Filtrar
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tabla -->
          <div class="row" *ngIf="!edition">
            <div class="col-12 text-end">
              <app-pagination
                [pagination]="pagination"
                [(filter)]="filter"
                (pageSelected)="changePage($event)"
              ></app-pagination>
            </div>
            <div class="col-12 table-responsive" *ngIf="items.length > 0">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" style="width: 6rem">N°</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Stock Actual</th>
                    <th scope="col">Unidad de Medida</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    [ngClass]="{
                      'table-secondary': disabledIndexes.includes(i)
                    }"
                    *ngFor="let item of items; let i = index"
                    (click)="selectProduct(item, i)"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.stock }}</td>
                    <td>{{ item.measurementUnit }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12" *ngIf="items.length === 0">
              <h2>No hay registros disponibles.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
