<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 col-md-8 col-lg-10">
              <h1>Órdenes</h1>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2 text-end">
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="showFilter(filterModal)"
              >
                <i class="fas fa-filter"></i> Filtrar
              </button>
              <button type="button" class="btn btn-warning" (click)="reload()">
                <i class="fas fa-redo"></i> Recargar
              </button>
              <button
                type="button"
                class="btn btn-primary"
                routerLink="register"
              >
                <i class="fas fa-plus"></i> Nuevo
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-end">
              <app-pagination
                [pagination]="pagination"
                [(filter)]="filter"
                (pageSelected)="changePage($event)"
              ></app-pagination>
            </div>
            <div class="col-12 table-responsive" *ngIf="items.length > 0">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 6rem">N°</th>
                    <th scope="col">Mesa</th>
                    <th scope="col">N° de Platos</th>
                    <th scope="col">Fecha Registro</th>
                    <th scope="col">Ultima Actualización</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.table.number }}</td>
                    <td>{{ item.recipes.length }}</td>
                    <td>{{ item.createdAt | date: "dd/MM/yyyy HH:mm" }}</td>
                    <td>{{ item.updatedAt | date: "dd/MM/yyyy HH:mm" }}</td>
                    <td>
                      <ng-container [ngSwitch]="item.status">
                        <span
                          class="badge rounded-pill text-bg-warning"
                          *ngSwitchCase="1"
                          ><i class="fa-solid fa-clock"></i> Pendiente</span
                        >
                        <span
                          class="badge rounded-pill text-bg-secondary"
                          *ngSwitchCase="2"
                          ><i class="fa-solid fa-stopwatch"></i> En preparación</span
                        >
                        <span
                          class="badge rounded-pill text-bg-success"
                          *ngSwitchCase="3"
                          ><i class="fa-solid fa-check-to-slot"></i> Atendido</span
                        >
                        <span
                          class="badge rounded-pill text-bg-primary"
                          *ngSwitchCase="4"
                          ><i class="fa-solid fa-money-bill"></i> Completada</span
                        >
                        <span
                          class="badge rounded-pill text-bg-danger"
                          *ngSwitchCase="5"
                          ><i class="fa-solid fa-times"></i> Cancelada</span
                        >
                      </ng-container>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-outline-secondary"
                          (click)="detail(item, detailModal)"
                        >
                          <i class="fas fa-eye"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-12" *ngIf="items.length === 0">
              <h2>No hay registros disponibles.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de Filtrado -->
<ng-template #filterModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa-solid fa-filter"></i> Filtro
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="form-group col-sm-12 col-md-12 col-lg-12">
          <label class="col-form-label">Estado</label>
          <select
            class="form-select"
            [(ngModel)]="filter.status.value"
            name="status"
          >
            <option>Seleccionar Unidad</option>
            <option *ngFor="let status of statusList" [value]="status.value">
              {{ status.content }}
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('filter')"
    >
      <i class="fa-solid fa-filter"></i> Filtrar
    </button>
  </div>
</ng-template>

<!-- Modal de Detalle -->
<ng-template #detailModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <i class="fa-solid fa-info-circle"></i> Información de la Orden
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <app-detail-order [item]="orderSelected"></app-detail-order>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12 text-end">
        <div class="btn-group">
          <button
            class="btn btn-secondary"
            (click)="changeStatus(2)"
            [disabled]="[2, 3, 4, 5].includes($any(orderSelected?.status))"
          >
            <i class="fa-solid fa-clock"></i> En preparación
          </button>
          <button
            class="btn btn-success"
            (click)="changeStatus(3)"
            [disabled]="[4, 5].includes($any(orderSelected?.status))"
          >
            <i class="fa-solid fa-check-to-slot"></i> Atender
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
