<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2>Registro de Productos</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="register()">
            <div class="row">
              <div class="form-group col-sm-12 col-md-12 col-lg-12">
                <label class="col-form-label">Nombre</label>
                <input
                  class="form-control"
                  type="text"
                  formControlName="name"
                />
                <app-error-alert
                  [display]="isControlInvalid(getControl(form, 'name'))"
                  [type]="'required'"
                  [field]="'Nombre'"
                >
                </app-error-alert>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="col-form-label">Stock mínimo</label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="minimumStock"
                />
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'minimumStock')) &&
                    hasControlError(
                      getControl(form, 'minimumStock'),
                      'required'
                    )
                  "
                  [type]="'required'"
                  [field]="'Stock mínimo'"
                ></app-error-alert>
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'minimumStock')) &&
                    hasControlError(getControl(form, 'minimumStock'), 'min')
                  "
                  [type]="'required'"
                  [field]="'Stock mínimo'"
                  [value]="0"
                >
                </app-error-alert>
              </div>
              <div class="form-group col-sm-12 col-md-6 col-lg-6">
                <label class="col-form-label">Stock actual</label>
                <input
                  class="form-control"
                  type="number"
                  formControlName="stock"
                />
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'stock')) &&
                    hasControlError(getControl(form, 'stock'), 'required')
                  "
                  [type]="'required'"
                  [field]="'Stock actual'"
                ></app-error-alert>
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'stock')) &&
                    hasControlError(getControl(form, 'stock'), 'min')
                  "
                  [type]="'min'"
                  [field]="'Stock actual'"
                  [value]="0"
                >
                </app-error-alert>
              </div>
              <div class="form-group col-12">
                <label class="col-form-label">Unidad de Medida</label>
                <select class="form-select" formControlName="measurementUnit">
                  <option>Seleccionar Unidad</option>
                  <option *ngFor="let unit of measurementUnits" [value]="unit">
                    {{ unit }}
                  </option>
                </select>
                <app-error-alert
                  [display]="
                    isControlInvalid(getControl(form, 'measurementUnit'))
                  "
                  [type]="'required'"
                  [field]="'Unidad de Medida'"
                >
                </app-error-alert>
              </div>
            </div>
            <div class="row mt-3">
              <div class="form-group col-12 text-end">
                <div class="btn-group" role="group">
                  <button
                    class="btn btn-success"
                    type="submit"
                    [disabled]="!form.valid"
                  >
                    <i class="far fa-save"></i> Guardar
                  </button>
                  <button class="btn btn-danger" type="reset">
                    <i class="far fa-trash-alt"></i> Limpiar
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
